@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
    .background-img{
        background-image: url("../images/bg.jpg");
        background-size: contain;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        main{ 
            position: absolute;
            background-image: url("../images/bg-intro-desktop.png");
            background-color: #ff7a7a;
            background-position:  center ;
            width: 80vw;
            border-radius: 2vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 3vw;
            .text{
                display: flex;
                flex-direction: column;
                margin: 2vw;
                width: 32vw;
                color: white;
                font-family: poppins;
                font-size: 1vw;
                span{
                    font-size: 2.5vw;
                    color: white;
                    font-weight: bold;
                    margin-bottom: 2vw;
                }
            }
            .form-content .trial{
                span{
                    color: white;
                    font-weight: bold;
                    font-size: 1vw;
                }
                color: white;
                background-color: #6055a5;
                padding: 0.5vw;
                width: 30vw;
                text-align: center;
                border-radius: 0.5vw;
                font-size: 1vw;
                transition: 0.1s;
                box-shadow: 0 0.25vw rgba($color: #000000, $alpha: 0.20);
                font-family: poppins;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.01);
                }
            }
            .form-content form{
                background-color: white;
                padding: 1vw 0.5vw;
                border-radius: 1vw;
                margin-top: 2vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 2vw;
                box-shadow: 0 0.25vw rgba($color: black, $alpha: 0.15) ;
                font-family: poppins;
                input{
                    width: 25vw;
                    outline:none ;
                    border:0.15vw solid lightgray;
                    height: 2vw;
                    border-radius: 0.5vw;
                    margin: 1vw auto;
                    font-family: poppins;
                    &:focus{
                        border: 0.15vw solid darkgray;
                        background-image: none;
                    }
                }
                .error-style-input{
                    border-color: red;
                    background-image: url("../images/warning-sign.svg");
                    background-position: 98% center;
                    background-repeat: no-repeat;
                    background-size: 1.5vw;
                    &::placeholder{
                        color: transparent;
                    }
                }
                .success-style-input{
                    border-color: green;
                    background-image: url("../images/check-symbol.svg");
                    background-position: 98% center;
                    background-repeat: no-repeat;
                    background-size: 1.5vw;
                    &::placeholder{
                        color: transparent;
                    }
                }
                .error-style-div{
                    color: red;
                    width: 25vw;
                    justify-content: flex-end;
                    margin: 0 auto;
                }
                .success-style-div{
                    color: green;
                    width: 25vw;
                    justify-content: flex-end;
                    margin: 0 auto;
                }
                button{
                    appearance: none;
                    background-color: #38cc8c;
                    color: white;
                    padding: 1vw;
                    border:none;
                    border-radius: 0.5vw;
                    width: 25vw;
                    margin: 0 auto;
                    font-size: 1vw;
                    font-weight: bold;
                    transition: 0.3s;
                    box-shadow: 0 0.25vw rgba($color: darkgreen, $alpha: 0.6);
                    font-family: poppins;
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.02);
                    }
                }
            }
            .form-content section{
                text-align: center;
                color: lightgray;
                margin: 1vw auto 0 auto;
                font-size: 0.75vw;
                font-family: poppins;
                font-weight: bold;
                width: 30vw;
                span{
                    color: 	#ff7a7a;
                    cursor: pointer;
                }
            }
        }
        footer{
            bottom: 1vw;
            color: darkgray;
            position: fixed;
            background-color: white;
            padding: 1vw;
            font-size: 1vw;
            font-family: poppins;
            border-radius: 1vw;
            box-shadow: 0 0.2vw 0 rgba($color: #000000, $alpha: 0.2);
            span{
                color: dodgerblue;
                text-decoration: underline;
                cursor: pointer;
                
            }
        } 
    }
        
}
@media only screen and (max-width:426px)
{
    body{
        .background-img main{
            display: block;
            .text span{
                font-size:6vw;
                width: 70vw;
                text-align: center;
            }
            .text{
                font-size: 3vw;
                width: 70vw;
                text-align: center;
                margin: 2vw auto;
            }
            .form-content .trial{
                margin: 3.5vw auto;
                font-size: 3.5vw;
                width: 50vw;
                border-radius: 2vw;
                padding: 2vw;
                box-shadow: 0 0.65vw rgba($color: #6055a5, $alpha: 0.6);
                span{
                    font-size: 3.5vw;
                }
            }
            .form-content form{
                margin: 2vw auto;
                width: 70vw;
                border-radius: 2vw;
                padding: 5vw 0;
                box-shadow: 0 0.65vw rgba($color: #000000, $alpha: 0.2);
                input{
                    width: 60vw;
                    height: 7vw;
                    border-radius: 1.5vw;
                    margin-bottom: 3vw;
                }
                .error-style-input{
                    background-size: 5vw;
                }
                .success-style-input{
                    background-size: 5vw;
                }
                .error-style-div{
                    color: red;
                    width: 60vw;
                    margin: 0 auto;
                    font-size: 3vw;
                }
                .success-style-div{
                    color: green;
                    width: 60vw;
                    margin: 0 auto;
                    font-size: 3vw;
                }
                button{
                    margin: 1vw auto;
                    width: 60vw;
                    font-size: 3.5vw;
                    border-radius: 1.5vw;
                    padding: 2vw;
                    box-shadow: 0 0.65vw rgba($color: darkgreen, $alpha: 0.6);
                }
                section{
                    font-size: 2.5vw;
                    width: 60vw;
                    margin-top: 4vw;
                }
            }
        }
        .background-img footer{
            font-size: 3vw;
            bottom: 1vw;
        } 
    }
    
    
}
@media only screen and (max-width:768px) and (min-width:427px)
{
    body{
        .background-img main .text span{
            font-size: 3.5vw;
        }
        .background-img main .text{
            font-size: 1.5vw;
        }
        .background-img main .form-content .trial{
            font-size: 2vw;
            width: 45vw;
        }
        .background-img main .form-content .trial span{
            font-size: 2vw;
        }
        .background-img main .form-content form input{
            width: 35vw;
            height: 4vw;
        }
        .background-img main .form-content form{
            .error-style-input{
                background-size: 3vw;
            }
            .success-style-input{
                background-size: 3vw;
            }
            .error-style-div{
                padding-left: 10vw;
                font-size: 1.7vw;
            }
            .success-style-div{
                padding-left: 10vw;
                font-size: 1.7vw;
            }
        } 
        .background-img main .form-content form button{
            font-size: 2vw;
            width:35vw;
        }
        .background-img main .form-content section{
            font-size: 1.5vw;
            width: 35vw;
        }
        .background-img footer{
            font-size: 2vw;
            bottom: 2vw;
        } 
    }   
}
@media only screen and (min-width:2560px)
{
    body{
        .background-img main .text span{
            font-size: 2.5vw;
        }
        .background-img main .text{
            font-size: 1.4vw;
        }
        .background-img main .form-content .trial{
            font-size: 1.5vw;
            width: 40vw;
        }
        .background-img main .form-content .trial span{
            font-size: 2vw;
        }
        .background-img main .form-content form input{
            width: 35vw;
            height: 3vw;
            font-size:1.5vw ;
            &::placeholder{
                font-size: 1.5vw;
            }
        }
        .error-style-div{
            color: red;
            font-size: 1.5vw;
            padding-left: 10vw;
        }
        .success-style-div{
            color: green;
            font-size: 1.5vw;
            padding-left: 10vw;
        }
        .background-img main .form-content form button{
            font-size: 1.7vw;
            width:35vw;
        }
        .background-img main .form-content section{
            font-size: 1.4vw;
            width: 35vw;
        }
        .background-img footer{
            font-size: 1.5vw;
            bottom: 1vw;
        } 
    }   
}